<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Preference Questionnaire</title>
    <link rel="stylesheet" href="static/css/quest_style.css">
</head>
<body>
    <div id="questionnaire-container">
        <div id="questionnaire-modal">
            <h1>Машини, з якої бази бажаєте розглядати?</h1>
            <form action="{{ url_for('quests.questionnaire') }}", method="post">
                <div class="button-container">
                    <input class="ch_button" id="button1" type="button" value="вулиця Козловського, 12" />
                    <br>
                    <input class="ch_button" id="button2" type="button" value="вулиця Ряшівська, 100" />
                    <br>
                    <input class="ch_button" id="button3" type="button" value="вулиця Богданівська, 16" />
                    <br>
                    <input class="ch_button" id="button4" type="button" value="вулиця Джерельна, 42" />
                    <br>
                    <input class="ch_button" id="button5" type="button" value="вулиця Бойчука, 2" />
                    <br>
                    <input class="ch_button" id="button6" type="button" value="Підібрати найближчу" />
                </div>
                <br>
                <input id="text" type="hidden" name="Q6" value="nothing" />
                <br>
                <input id="sbm" type="submit" value="Далі" disabled="true" />
            </form>
        </div>
    </div>
    <!--<script src="questionnaire.js"></script>-->
    <script>
        const button1 = document.getElementById('button1');
        const button2 = document.getElementById('button2');
        const button3 = document.getElementById('button3');
        const button4 = document.getElementById('button4');
        const button5 = document.getElementById('button5');
        const button6 = document.getElementById('button6');

        const text = document.getElementById('text');
        const buttons = document.getElementById('sbm')

        button1.style.background = 'rgb(255, 255, 255)';
        button2.style.background = 'rgb(255, 255, 255)';
        button3.style.background = 'rgb(255, 255, 255)';
        button4.style.background = 'rgb(255, 255, 255)';
        button5.style.background = 'rgb(255, 255, 255)';
        button6.style.background = 'rgb(255, 255, 255)';

        button1.addEventListener("click", updateButton1);
        button2.addEventListener("click", updateButton2);
        button3.addEventListener("click", updateButton3);
        button4.addEventListener("click", updateButton4);
        button5.addEventListener("click", updateButton5);
        button6.addEventListener("click", updateButton6);

        function updateButton1() {
            button1.style.background = 'rgb(201, 201, 201)';
            button2.style.background = 'rgb(255, 255, 255)';
            button3.style.background = 'rgb(255, 255, 255)';
            button4.style.background = 'rgb(255, 255, 255)';
            button5.style.background = 'rgb(255, 255, 255)';
            button6.style.background = 'rgb(255, 255, 255)';
            text.value = "12,Козловського,Львів";
            buttons.disabled = false;
        }
        function updateButton2() {
            button1.style.background = 'rgb(255, 255, 255)';
            button2.style.background = 'rgb(201, 201, 201)';
            button3.style.background = 'rgb(255, 255, 255)';
            button4.style.background = 'rgb(255, 255, 255)';
            button5.style.background = 'rgb(255, 255, 255)';
            button6.style.background = 'rgb(255, 255, 255)';
            text.value = "100,Ряшівська,Львів";
            buttons.disabled = false;
        }
        function updateButton3() {
            button1.style.background = 'rgb(255, 255, 255)';
            button2.style.background = 'rgb(255, 255, 255)';
            button3.style.background = 'rgb(201, 201, 201)';
            button4.style.background = 'rgb(255, 255, 255)';
            button5.style.background = 'rgb(255, 255, 255)';
            button6.style.background = 'rgb(255, 255, 255)';
            text.value = "16,Богданівська,Львів";
            buttons.disabled = false;
        }
        function updateButton4() {
            button1.style.background = 'rgb(255, 255, 255)';
            button2.style.background = 'rgb(255, 255, 255)';
            button3.style.background = 'rgb(255, 255, 255)';
            button4.style.background = 'rgb(201, 201, 201)';
            button5.style.background = 'rgb(255, 255, 255)';
            button6.style.background = 'rgb(255, 255, 255)';
            text.value = "42,Джерельна,Львів";
            buttons.disabled = false;
        }
        function updateButton5() {
            button1.style.background = 'rgb(255, 255, 255)';
            button2.style.background = 'rgb(255, 255, 255)';
            button3.style.background = 'rgb(255, 255, 255)';
            button4.style.background = 'rgb(255, 255, 255)';
            button5.style.background = 'rgb(201, 201, 201)';
            button6.style.background = 'rgb(255, 255, 255)';
            text.value = "2,Бойчука,Львів";
            buttons.disabled = false;
        }
        function updateButton6() {
            button1.style.background = 'rgb(255, 255, 255)';
            button2.style.background = 'rgb(255, 255, 255)';
            button3.style.background = 'rgb(255, 255, 255)';
            button4.style.background = 'rgb(255, 255, 255)';
            button5.style.background = 'rgb(255, 255, 255)';
            button6.style.background = 'rgb(201, 201, 201)';
            text.value = "Best";
            buttons.disabled = false;
        }
    </script>
</body>
</html>
