<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Preference Questionnaire</title>
    <link rel="stylesheet" href="static/css/quest_style.css">
</head>
<body>
    <div id="questionnaire-container">
        <div id="questionnaire-modal">
            <h1>На скількох людей розрахована машина?</h1>
            <form action="{{ url_for('quests.quest3') }}" method="post">
                <div class="button-container">
                    <input class="ch_button" id="button1" type="button" value="1-2" />
                    <br>
                    <input class="ch_button" id="button2" type="button" value="3-4" />
                    <br>
                    <input class="ch_button" id="button3" type="button" value="5-6" />
                </div>
                <br>
                <input id="text" type="hidden" name="Q2" value="nothing" />
                <br>
                <input id="sbm" type="submit" value="Далі" disabled="true" />
            </form>
        </div>
    </div>
    <!--<script src="questionnaire.js"></script>-->
    <script>
      const button1 = document.getElementById('button1');
      const button2 = document.getElementById('button2');
      const button3 = document.getElementById('button3');
      const text = document.getElementById('text');
      const buttons = document.getElementById('sbm')

      button1.style.background = 'rgb(255, 255, 255)';
      button2.style.background = 'rgb(255, 255, 255)';
      button3.style.background = 'rgb(255, 255, 255)';

      button1.addEventListener("click", updateButton1);
      button2.addEventListener("click", updateButton2);
      button3.addEventListener("click", updateButton3);

      function updateButton1() {
          button1.style.background = 'rgb(201, 201, 201)';
          button2.style.background = 'rgb(255, 255, 255)';
          button3.style.background = 'rgb(255, 255, 255)';
          text.value=1;
          buttons.disabled = false;
      }
      function updateButton2() {
          button1.style.background = 'rgb(255, 255, 255)';
          button2.style.background = 'rgb(201, 201, 201)';
          button3.style.background = 'rgb(255, 255, 255)';
          text.value = 2;
          buttons.disabled = false;
      }
      function updateButton3() {
          button1.style.background = 'rgb(255, 255, 255)';
          button2.style.background = 'rgb(255, 255, 255)';
          button3.style.background = 'rgb(201, 201, 201)';
          text.value=3;
          buttons.disabled = false;
      }

  </script>
</body>
</html>