
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #266461,#266450);
  }

  .container {

    background-color: #fff; /* Біла рамка */
    padding: 30px; /* Збільшення відступів від країв */
    border: 5px solid #E24F4F; /* Ширина та колір рамки */
    border-radius: 20px; /* Радіус закруглення */
    font-size: larger;
    width:max-content;
    height: max-content;
  }

  h2 {
    text-align: center;
    color: #E24F4F; /* Червоний текст */
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color:#E24F4F; /* Червоний текст */
  }

  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #E24F4F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #E24F4F;
  }
