body {
  background: #fafafa;

  color: #333333;
  margin-top: 5rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 65px;

}
  .cont {
    width: 100%;
    margin: auto;
  }


  .bg-steel {
    background-color: #004643;
  }

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    max-width: 1100px; /* Задайте бажану максимальну ширину */
    margin-left: auto; /* Це для центрування логіну на сторінці */
    margin-right: auto; /* Це для центрування логіну на сторінці */
  }
  .small-block {
    max-width: 300px; /* Задайте бажану максимальну ширину */
    margin-left: 170px; /* Це для центрування блоку на сторінці */
    margin-right: auto; /* Це для центрування блоку на сторінці */
}

  .article-title {
    color: #444444;
  }

  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading {
    font-size: 2.5rem;
  }

  .footer{
    background-color: #004643;
      padding: 70px 0;
      margin-top: 150px;
  }
  .footer-col {
      width: 25%;
      padding: 0 15px;
      margin-left: auto;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  /* .footer-col h4::before{
    content: '';
    position: absolute;
    left: 100px;
    bottom: -10px;
    background-color: #E24F4F;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  } */
  .footer-col h4::before{
    content: '';
    position: absolute;
    /* left: 100px; */
    bottom: -10px;
    background-color: #E24F4F;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }

  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

.logo {
  width: 50px;
  height: 50px;
  margin-right: 50px;
}
.logo-head {
  display: flex;
  justify-content: center;
}
  @media only screen and (max-width: 750px) {
    .footer {
        text-align: center;
    }
  }