#questionnaire-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0;
}

.button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #004d40; /* Replace with the color of your choice */
    color: white;
    border: none;
}

.button:hover {
    background-color: #00332a;
}
