{% extends "layout.html" %}
{% block content %}
    <div class="main3">
        <h2 class="hesik">Назва машини: {{car.carname}} </h2>
            <img class="phot" src="{{ url_for('static', filename='car_pics/' + car.image_file)  }}" alt="Фотографія">
        <div class="phrase">
            <span class="dot">.</span> Тип кузова - {{car.type}} <br>
            <span class="dot">.</span> Об'єм двигуна - {{car.engine_capacity}} <br>
            <span class="dot">.</span> Рейтинг - {{car.rating}} <br>
            <span class="dot">.</span> Рік - {{car.year}} <br>
            <span class="dot">.</span> Ціна за годину (грн) - {{car.price_per_hour}} <br>
        </div>
    </div>
    <button class="red-button">Вибрати дати</button>

{% endblock content %}