{% extends "layout.html" %}
{% block content %}
<h1 class="hehe">Питання, що часто задають</h1>
    <hr class="linee">
        <div class = "wrapper"></div>
            <div class ="faq">
                <button class = "accordion">
                    Чи потрібно наперед оплачувати бронювання автомобіля?
                    <i class = "fa-solid fa-chevron-down"></i>
                </button>
                <div class ="pannel">
                    <p>
                        Так для бронювання автомобіля потрібно внести завдаток, який складає 10% від вартості оренди.Після реєстрації з вами зв'яжеться наш менеджер, для уточнення усіх деталей щодо оплати.
                    </p>
                </div>
            </div>
            <div class ="faq">
                <button class = "accordion">
                    Як орендувати автомобіль?
                    <i class = "fa-solid fa-chevron-down"></i>
                </button>
                <div class ="pannel">
                    <p>
                        Спочаку потрібно вибрати автомобіль, який ви хочете орендувати, натиснути на кнопку "орендувати", після чого потрібно зареєструватися на сайті. Протягом 5 хвилин після реєстрації наш менеджер зв'яжиться з вами для уточнення усіх деталей .
                    </p>
                </div>
            </div>
            <div class ="faq">
                <button class = "accordion">
                    Яким способом оплати я можу скористатись?
                    <i class = "fa-solid fa-chevron-down"></i>
                </button>
                <div class ="pannel">
                    <p>
                        Ви можете оплатити повну вартість оренди онлайн або ж готівкою при зустрічі. Також у нас є можливсть орендувати автомобіль в розстрочку.
                    </p>
                </div>
            </div>
            <div class ="faq">
                <button class = "accordion">
                    Що робити, якщо трапилось ДТП?
                    <i class = "fa-solid fa-chevron-down"></i>
                </button>
                <div class ="pannel">
                    <p>
                        У такому випадку вам потрібно буде оплатити повний ремонт автомобіля.
                    </p>
                </div>
            </div>
            <div class ="faq">
                <button class = "accordion">
                    Що робити якщо у мене зламався автомобіль?
                    <i class = "fa-solid fa-chevron-down"></i>
                </button>
                <div class ="pannel">
                    <p>
                        Про це варто повідомити якомога швидше та привезти автомобіль до нашого центру,щоб встановити причину поломки і з'ясувати подальші дії.
                    </p>
                </div>
            </div>
            <div class ="faq">
                <button class = "accordion">
                    Ви забираєте документи на термін оренди?
                    <i class = "fa-solid fa-chevron-down"></i>
                </button>
                <div class ="pannel">
                    <p>
                        Ні,проте для укладання договору щодо оренди ви повинні мати з собою  паспорт і посвідчення водія з правом керування транспортним засобом відповідної категорії.
                    </p>
                </div>
            </div>
            <div class ="faq">
                <button class = "accordion">
                    Чи можна орендувати автомобіль без застави?
                    <i class = "fa-solid fa-chevron-down"></i>
                </button>
                <div class ="pannel">
                    <p>
                        Разом з оплатою оренди клієнт зобов'язаний внести депозит (заставу) за автомобіль.По закінченню терміну оренди і за відсутності порушень договору, клієнт отримує всю суму застави назад. Розмір застави залежить від класу автомобіля.
                    </p>
                </div>
            </div>
        </div>

        <script>
            var acc = document.getElementsByClassName
            ("accordion");
            var i;
            for(i=0;i<acc.length;i++){
                acc[i].addEventListener("click",function(){
                    this.classList.toggle("active");
                    this.parentElement.classList.toggle("active");
                    var pannel = this.nextElementSibling;
                    if(pannel.style.display === "block"){
                        pannel.style.display = "none";
                    }else{
                        pannel.style.display = "block";
                    }
                });
            }
        </script>
{% endblock content %}


