{% extends "layout.html" %}
{% block content %}
<div class="home_cont">
    <div class = "box sidebar">
        <h1>ОБЕРИ СВОЮ МАШИНУ-</h1>
        <h1 >ОБЕРИ НОВИЙ СПОСІБ ЖИТТЯ</h1>
        <div class="rect">
            <h2>Пройди тест,</h2>
            <h2>щоб обрати свою машину<h2>
                <!--<div class="button">старт</div>-->
                    <form action="{{ url_for('questionnaire') }}">
                        <button class = "button" type="submit">старт</button>
                    </form>
        </div>
    </div>
    <div class="box main2">
        {% for car in cars %}
                <div class="car_container">
                    <h4>{{ car.carname }}</h4>
                    <div class = "label">знижка</div>
                    <img src="{{ url_for('static', filename='car_pics/' + car.image_file) }}" alt="car1", height="200px">
                    <form action="">
                        <button class = "car_button" type="submit">орендувати</button>
                    </form>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}