{% extends "layout.html" %}
{% block content %}
    <div class = "box sidebar">
        <h1>ОБЕРИ СВОЮ МАШИНУ-</h1>
        <h1>ОБЕРИ НОВИЙ СПОСІБ ЖИТТЯ</h1>
        <div class="rect">
            <h2>Пройди тест,</h2>
            <h2>щоб обрати свою машину<h2>
            <div class="button">старт</div>
        </div>    
    </div>    

    <div class = "box main">
        <div class="car_container">
            <h3>Ford</h3>
            <div class = "label">знижка</div>
            <img src="{{ url_for('static', filename='profile_pics/ford.jpg') }}" alt="car1" height="200px">
            <div class = "car_button">орендувати</div> 
        </div>
        <div class="car_container">
            <h3>Ford</h3>
            <div class = "label">знижка</div>
            <img src="{{ url_for('static', filename='profile_pics/ford.jpg') }}" alt="car1" height="200px">
            <div class = "car_button">орендувати</div> 
        </div>
        <div class="car_container">
            <h3>Ford</h3>
            <div class = "label">знижка</div>
            <img src="{{ url_for('static', filename='profile_pics/ford.jpg') }}" alt="car1" height="200px">
            <div class = "car_button">орендувати</div> 
        </div>
        <div class="car_container">
            <h3>Ford</h3>
            <div class = "label">знижка</div>
            <img src="{{ url_for('static', filename='profile_pics/ford.jpg') }}" alt="car1" height="200px">
            <div class = "car_button">орендувати</div> 
        </div>
        <div class="car_container">
            <h3>Ford</h3>
            <div class = "label">знижка</div>
            <img src="{{ url_for('static', filename='profile_pics/ford.jpg') }}" alt="car1" height="200px">
            <div class = "car_button">орендувати</div> 
        </div>
        <div class="car_container">
            <h3>Ford</h3>
            <div class = "label">знижка</div>
            <img src="{{ url_for('static', filename='profile_pics/ford.jpg') }}" alt="car1" height="200px">
            <div class = "car_button">орендувати</div> 
        </div>
        <div class="car_container">
            <h3>Ford</h3>
            <div class = "label">знижка</div>
            <img src="{{ url_for('static', filename='profile_pics/ford.jpg') }}" alt="car1" height="200px">
            <div class = "car_button">орендувати</div> 
        </div>
        <div class="car_container">
            <h3>Ford</h3>
            <div class = "label">знижка</div>
            <img src="{{ url_for('static', filename='profile_pics/ford.jpg') }}" alt="car1" height="200px">
            <div class = "car_button">орендувати</div> 
        </div>
        <div class="car_container">
            <h3>Ford</h3>
            <div class = "label">знижка</div>
            <img src="{{ url_for('static', filename='profile_pics/ford.jpg') }}" alt="car1" height="200px">
            <div class = "car_button">орендувати</div> 
        </div>
    </div>
{% endblock content %}