<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <title>Бронювання машини</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=' css/message.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="message-box">
                <p class="message">Вітаємо! Ви забронювали машину.</p>
                <p class="amount">До сплати: 500$</p>
                <p class="address">Адреса: [Ваша адреса]</p>
                <p class="payment-info">Оплата при отриманні машини</p>
                <img class= "logo" src="{{ url_for('static', filename='profile_pics/logo.png') }}" alt=""></a>
                <!-- <img src="logo.png" alt="Наше лого" class="logo"> -->
            </div>
        </div>
    </div>
</body>
</html>