

.main3 {
  text-align: center;
  box-sizing: border-box;
}

.hesik {
  color: #E24F4F;
  font-weight: bold;
  text-align: left;
  font-size: 35px; /* Розмір тексту */
  margin: 0 auto; /* Вирівнювання в центрі */
  max-width: 70%;
}

.phrase {
  width: 70%;
  margin-top: 10px;
  font-size: 16px;
  margin: 0 auto; /* Задаємо ширину для тексту */
  max-width: 70%; /* Максимальна ширина тексту */
  text-align: left; /* Вирівнюємо текст по лівому краю */
}


.phot {
  float: right;
  width: 600px;
  height: 300px;
  max-height: 50%;
  max-width: 60%;
  margin-top: 10px;
}

.dot {
  font-weight: bold;
  color: #266461;
  font-size: 20px;
  margin-top: 10px;
}


.red-button {
  margin: 40px auto 0; 
  padding: 1% 5%;
  color: #ffffff;
  font-size: 15px;
  background-color: #E24F4F;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  text-align: center;
}

.red-button:hover {
  background-color: #D14040;
}





