body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif; /* Встановлюємо шрифт Montserrat */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff;
}

.content {
  border: 4px solid #E24F4F; /* Товстіша червона рамка */
  border-radius: 15px; /* Круглі кути */
  padding: 20px;
}

.message-box {
  text-align: center;
}

.message {
  font-size: 24px;
  font-weight: lighter;
}

.amount {
  font-size: 20px;
  color: #266461;
}

.address {
  font-size: 16px;
  margin-bottom: 10px;
  color: #E24F4F;

}

.payment-info {
  font-size: 9px;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}
