{% extends "layout.html" %}
{% block content %}

{% if not empty %}
    <div class="container1">
        <h2><strong>Наші найкращі опції</strong></h2>
        <p>Виберіть тип машини:</p>
        <div class="car-types">
            <a href="{{ url_for('main.afterquestioning', carsy='Хетчбек') }}"><button>Хетчбек</button></a>
            <a href="{{ url_for('main.afterquestioning', carsy='Мікро') }}"><button>Мікро</button></a>
            <a href="{{ url_for('main.afterquestioning', carsy='Джип (SUV)') }}"><button>Джип (SUV)</button></a>
            <a href="{{ url_for('main.afterquestioning', carsy='Купе') }}"><button>Купе</button></a>
            <a href="{{ url_for('main.afterquestioning', carsy='Седан') }}"><button>Седан</button></a>
        </div>
    </div>
    <div class="home_cont">
        <div class="box main2">
            {% for car in cars %}
                    <div class="car_container">
                        <h4>{{ car.carname }}</h4>
                        <img class="car-image" src="{{ url_for('static', filename='car_pics/' + car.image_file) }}" alt="car1", height="200px">
                        <a class="nav-link" href="{{ url_for('cars.carpage', car_id=car.id) }}">
                            <button class = "car_button" type="submit">орендувати</button>
                        </a>
                        <p>Ціна за годину (грн) - {{car.price_per_hour}}</p>
                    </div>
            {% endfor %}
        </div>
    </div>
{% else %}
<div class="content-section text-center" style="height: 300px; display: flex; justify-content: center; flex-direction: column;">
    <h2>Схоже за вашим запитом не знайшлося машинок</h2>
    <a href="{{url_for('main.homepage')}}">
        <button class="buttonchiki" type="submit">На основну сторінку</button>
    </a>
</div>
{% endif %}

{% endblock content %}