{% extends "layout.html" %}
{% block content %}
<div class="home_cont">
    <div class = "box sidebar">
        <h1>ОБЕРИ СВОЮ МАШИНУ-</h1>
        <h1 >ОБЕРИ НОВИЙ СПОСІБ ЖИТТЯ</h1>
        <div class="rect">
            <h2 class="custom-font">Пройди тест, <br>щоб обрати свою машину<h2>
                    <form action="{{ url_for('quests.quest1') }}">
                        <button class = "button" type="submit">старт</button>
                    </form>
        </div>
    </div>
    <div class="box main2">
        {% for car in cars %}
                <div class="car_container">
                    <h4>{{ car.carname }}</h4>
                    <div class="label">
                        <div class="discount-text">знижка</div>
                    </div>
                    <img class="car-image" src="{{ url_for('static', filename='car_pics/' + car.image_file) }}" alt="car1" height="200px">
                        <a class="nav-link" href="{{ url_for('cars.carpage', car_id=car.id) }}">
                            <button class = "car_button" type="submit">орендувати</button>
                        </a>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}