<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/FAQ.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tops.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{  url_for('static', filename='css/afterquetioning.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carpage.css') }}">

    {% if title %}
        <title>Драндулєти - {{ title }}</title>
    {% else %}
        <title>Драндулєти</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a href="{{ url_for('main.homepage') }}"><img class= "logo" src="{{ url_for('static', filename='project_pics/logo.png') }}" alt=""></a>
            <a class="navbar-brand mr-4" href="/">Драндулєти UA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('main.tops', number=50, carsy='Седа') }}">Рейтинг</a>
                <a class="nav-item nav-link" href="{{ url_for('main.faq') }}">Допомога</a>
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('cars.new_car') }}">Виставити Авто</a>
                {% endif %}

              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Акаунт</a>
                  <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Вийти</a>
                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Логін</a>
                  <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Реєстрація</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
    <main class="cont">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="footer-col">
                  <h4>Місця розташування у Львові</h4>
                  <ul>
                      <li><a href="#">вул. Козловського, 12</a></li>
                      <li><a href="#">вул. Ряшівська, 100</a></li>
                      <li><a href="#">вул. Богданівська, 16</a></li>
                      <li><a href="#">вул. Джерельна, 42</a></li>
                      <li><a href="#">вул. Бойчука, 2</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Покупцеві</h4>
                  <ul>
                      <li><a href="{{ url_for('users.account') }}">власний профіль</a></li>
                      <li><a href="{{ url_for('main.tops', number=50, carsy='Седа') }}">топ авто</a></li>
                      <li><a href="{{ url_for('cars.new_car') }}">опублікувати авто</a></li>
                      <li><a href="{{ url_for('quests.quest1') }}">пройти опитування</a></li>
                      <li><a href="{{ url_for('main.faq') }}">FAQ</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Наші контакти:</h4>
                  <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=61557077080320"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/channel/UCKz6mgAFG6IrjsbgaV2Xs4g"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.instagram.com/drandulyety?igsh=MTlwZnV4dzN5Mm8wcA%3D%3D&utm_source=qr"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>