<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <title>Бронювання машини</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=' css/message.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="message-box">
                <p class="message">Вітаємо! Ви забронювали машину.</p>
                <p class = "manager"> Скоро з Вами зв'яжеться наш менеджер </p>
                <p class="address">Адреса: [{{user.location}}]</p>
                <p class="payment-info">Оплата при отриманні машини</p>
                <a href="{{url_for('main.homepage')}}">
                    <button type="submit">На основну сторінку</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>