
{% extends "layout.html" %}
{% block content %}
<h2 class="headmes">ТОП автомобілів</h2>
<hr class="line">
<h3 class="h3">Виберіть тип машини:</h3>
<div class="images-row">
    <a href="{{ url_for('main.tops', number=50, carsy='Хетчбек') }}"><img src="{{ url_for('static', filename='project_pics/img1.png') }}" alt="Image 1"></a>
    <a href="{{ url_for('main.tops', number=50, carsy='Джип (SUV)') }}"><img src="{{ url_for('static', filename='project_pics/img2.png') }}" alt="Image 2"></a>
    <a href="{{ url_for('main.tops', number=5, carsy='Купе') }}"><img src="{{ url_for('static', filename='project_pics/img3.png') }}" alt="Image 3"></a>
    <a href="{{ url_for('main.tops', number=5, carsy='Седан') }}"><img src="{{ url_for('static', filename='project_pics/img4.png') }}" alt="Image 4"></a>
    <a href="{{ url_for('main.tops', number=5, carsy='Мікро') }}"><img src="{{ url_for('static', filename='project_pics/img5.png') }}" alt="Image 5"></a>
</div>
<div class="next_image">
    <img src="{{ url_for('static', filename='project_pics/border.png') }}" alt="Image 6">
    <a href="{{ url_for('main.tops', number=5, carsy='Седа') }}" class="top_5">TOP 5</a>
    <a href="{{ url_for('main.tops', number=15, carsy='Седа') }}" class="top_15">TOP 15</a>
    <a href="{{ url_for('main.tops', number=30, carsy='Седа') }}" class="top_30">TOP 30</a>

</div>

<div class="home_cont">
    <div class="box main2">
        {% for car in cars %}
                <div class="car_container">
                    <h4>{{ car.carname }}</h4>
                    <img class='car-image' src="{{ url_for('static', filename='car_pics/' + car.image_file) }}" alt="car1", height="200px">
                    <a class="nav-link" href="{{ url_for('cars.carpage', car_id=car.id) }}">
                        <button class = "car_button" type="submit">орендувати</button>
                    </a>
                    <p>{{ loop.index0 + 1 }} - Рейтинг: {{ car.rating }}</p>
                </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}