<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<header>
    <nav>
        <ul>
            <li><a >Драндулєти.ua</a></li>
            <li><a>Виставити авто</a></li>
            <li><a>Рейтинг</a></li>
            <li><a>Допомога</a></li>
            <li><a>Контакти</a></li>
        </ul>
    </nav>
    <hr> 
    <h2>Питання, що часто задають</h2>
    <hr class="line">
    <div class="rounded-box">
        <p>Чи потрібно наперед оплачувати бронювання автомобіля?</p>
        <div class="plus">+</div>
    </div>
    <div class="rounded-box" id="second-rounded-box">
        <p>Як орендувати автомобіль?</p>
        <div class="plus">+</div>
    </div>
    <div class="rounded-box" id="second-rounded-box">
        <p>Яким способом оплати я можу скористатись?</p>
        <div class="plus">+</div>
    </div>
    <div class="rounded-box" id="second-rounded-box">
        <p>Що робити, якщо трапилось ДТП?</p>
        <div class="plus">+</div>
    </div>
    <div class="rounded-box" id="second-rounded-box">
        <p>Що робити якщо у мене зламався автомобіль?</p>
        <div class="plus">+</div>
    </div>
    <div class="rounded-box" id="second-rounded-box">
        <p>Ви забираєте документи на термін оренди?</p>
        <div class="plus">+</div>
    </div>
    <div class="rounded-box" id="second-rounded-box">
        <p>Чи можна орендувати автомобіль без завдатку?</p>
        <div class="plus">+</div>
    </div>
</header>
<body>

    <footer class="footer">
         <div class="container">
             <div class="row">
                 <div class="footer-col">
                     <h4>Місця розташування</h4>
                     <ul>
                         <li><a href="#">вул. Івана Франка, 144</a></li>
                         <li><a href="#">вул. Тараса Шевченка, 10</a></li>
                         <li><a href="#">вул. Одеська, 3</a></li>
                         <li><a href="#">вул. Козельницького, 100</a></li>
                         <li><a href="#">вул. Незалежна, 69</a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Покупцеві</h4>
                     <ul>
                         <li><a href="#">орендувати авто</a></li>
                         <li><a href="#">топ авто</a></li>
                         <li><a href="#">опублікувати авто</a></li>
                         <li><a href="#">пройти опитування</a></li>
                         <li><a href="#">FAQ</a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Наші контакти:</h4>
                     <div class="social-links">
                         <a href="#"><i class="fab fa-facebook-f"></i></a>
                         <a href="#"><i class="fab fa-twitter"></i></a>
                         <a href="#"><i class="fab fa-instagram"></i></a>
                         <a href="#"><i class="fab fa-linkedin-in"></i></a>
                     </div>
                 </div>
             </div>
         </div>
    </footer>
  
  </body>
  </html>


